body{
    background-color:rgb(210, 235, 255) ;
}

h1{
    text-align: center;
    margin: 0;
}

.navbar{
    border: 0cap;
    margin: 0%;
    padding-top: 0;
    padding-bottom: 0;
}

#form-questions{
    margin-top: 5vh;
}