body{
    background-color:rgb(210, 235, 255) ;
}

h1{
    text-align: center;
    margin: 0;
}

.navbar{
    border: 0cap;
    margin: 0%;
    padding-top: 0;
    padding-bottom: 0;
}

#form-questions{
    margin-top: 5vh;
    border-radius: 10px;
}

#cardHomeQuestion{
    border-radius: 10px;

}

#ButAskQ{               /*Button of <a href="Perguntas"> Perguntar </a> --> views/index.ejs */
    border-radius: 10px;
}

#ButResQ{                /*Button of card-footer --> views/index.ejs */
    border-radius: 10px;
}

#ButFormQ{               /*Button of Forms Questions --> views/questions.ejs */
    border-radius: 10px;
}